.footer {
    background: #222;
    color: white;
    padding: 4rem 0;
}

.footer .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer__column h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.footer__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.footer__links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer input {
    padding: 0.8rem;
    width: 100%;
    border-radius: 6px;
    border: none;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .footer .footer__content {
        grid-template-columns: 1fr;
        text-align: center;
    }
}