.testimonials {
    padding: 6rem 0;
    background: $forest;
}

.testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.testimonials__grid .testimonial {
    background: rgb(55, 74, 55);
    color: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    font-size: 1.15rem;
    text-align: center;
}

@media (max-width: 900px) {
    .testimonials__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .testimonials__grid {
        grid-template-columns: 1fr;
    }
}